body{
    background-color: #232624;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.3s;
}

#container{
    max-width: 600px;
    margin: 20px auto;
}

#titleSegment{
    text-align: center;
    color: white;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    font-weight: 20;
}

#colorDisplay{
    font-weight: bold;
}

p{
    margin: 0;
}

#stripe{
    background: white;
    height: 2em;
    text-align: center;
    margin: none;
}

button{
    background: none;
    border: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover{
    background: steelblue;
    color: white;
}

.btnSelected{
    background: steelblue;
    color: white;
}

#message{
    display: inline-block;
    width: 20%;
}
